.nav
    text-align: center
    padding: 2em 0

    ul
        margin: 0
        padding: 0
        list-style-type: none

    li, a
        display: inline-block

    li
        width: 20%

        + li
            margin:0 0 0 5px

    a
        border: 1px solid $color-dark
        padding: rem(10px) rem(20px)
        width: 100%
        font-weight: 600
        text-transform: uppercase
        color: $color-dark

        &:hover,
        &.is-active
            background: rgba($color-nav-hover, .7)
